body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#manage--system {
  width: 600px;
  margin: 50px auto;
  position: relative;
}

.staff--header {
  padding: 2px;
  margin-bottom: 25px;
}

.header--table {
  width: 500px;
  margin: 0 auto;
}

.header--title {
  text-align: center;
}

.header--search {
  padding: 0 5px;
}

.header--id>* {
  padding: 0 5px;
}

.header--or>* {
  padding: 0 5px;
}

.user--list {
  width: 100%;
  border: 2px solid #b0c4de;
  border-radius: 4px;
  margin-bottom: 100px;
}

.list--id {
  width: 20%;
  line-height: 1.5em;
  text-align: center;
}

.list--btn {
  color: #1e90ff;
  font-size: 80%;
  width: 4em;
  display: inline-block;
  margin: 0 2px;
}

.user--tr {
  cursor: pointer;
}

.footer--title {
  text-align: center;
}

.addFrom label {
  text-align: center;
}

.addFrom input, .addFrom select, .addFrom textarea {
  width: 200px;
  margin: 0 auto 10px auto;
  display: block;
}

.addFrom button {
  padding:3px 5px;
  width: 4em;
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin: 5px auto;
  display: block;
}

.addFrom p {
  display: none;
}

.overLay {
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-animation-name: detailMerge;
  -moz-animation-name: detailMerge;
  -o-animation-name: detailMerge;
  animation-name: detailMerge;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.overLay p {
  display: none;
}

.overLay table {
  width: 100%;
}
.overLay tr {
  line-height: 1.5em;
}
.overLay th {
  width: 40%;
}
.overLay td {
  width: 60%;
  text-align: center;
}
.overLay input, .overLay select, .overLay textarea {
  width: 200px;
}
.overLay button {
  padding: 3px 20px;
  background-color: #1e90ff;
  color: #fff;
  font-weight:bold;
  border-right:4px;
  margin: 5px auto;
  display: inline-block;
}

@keyframes detailMerge {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.95);
  }
}

@-webkit-keyframes detailMerge {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
